.createWindow {
	margin: 0 auto
	max-width: 600px;

	> a.listTablesLink {
		display: block;
		margin-bottom: 20px;
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}

	> .createForm {
		background: #FFFFFF;
		padding: 10px;
		box-shadow 0 2px 8px rgba(0, 0, 0, 0.3);
	}

}
