body {
	background-color: #F1F2F2;
	background: url('../img/glorious-desert-lscape-at-sunrise-hd-wallpaper-334330.jpg');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #333333;
	margin: 20px;
}

@import "button.styl";

@import "resultwindow.styl";

@import "tableswindow.styl";
