.registerWindow {
	margin: 0 auto
	max-width: 600px;

	> .listTablesLink {
		display: block;
		margin-bottom: 20px;
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}

	> .registerForm {
		padding: 10px;
		background: #ffffff;
		box-shadow 0 2px 8px rgba(0, 0, 0, 0.3);

		> .label {
			display: block;
			margin: 0 0 5px 0;
		}

		> .textfield {
			display: block;
			margin: 0 0 20px 0;
			font-size: 16px;
			padding: 3px;
		}
	}

}
