.tablesWindow {
	margin: 0 auto
	max-width: 600px;

	> a.createTableLink {
		display: block;
		margin-bottom: 20px;
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}

	> ul.tagList {
		list-style: none;
		padding: 10px;
		margin: 0;
		background: #4e2b32;
		color: #FFFFFF;
		box-shadow 0 2px 8px rgba(0, 0, 0, 0.3);
		overflow: hidden;

		> li {
			float: left;
			margin: 0 20px 0 0;
			overflow: hidden;

			&.tagHeader {
				text-decoration: underline;
			}

			> input {
				float: left;
				margin-right: 5px;
			}

		}
	}

	> ul.tableList {
		padding: 0;
		list-style: none;

		> li.table {
			background: #FFFFFF;
			padding: 10px 10px 5px 10px;
			margin-bottom: 20px;
			box-shadow 0 2px 8px rgba(0, 0, 0, 0.3);

			> header {
				> .tags {
					list-style: none;
					padding: 0;
					overflow: hidden;
					margin: 0 0 0 0;

					> li {
						font-style: italic;
						font-size: 9px;
						float: left;
						margin: 0 10px 0 0;
					}

				}

				> .tableHeading {
					margin: 0;
					float: left;
					max-width: 220px;
					font-weight: 300;
					text-decoration: underline;
				}

				> .roll {
					float: right;
				}

				&:after {
					content: ".";
					visibility: hidden;
					display: block;
					height: 0;
					clear: both;
				}
			}

			> table {
				width: 100%;
				border-spacing: 0;
				margin-top: 10px;

				&.folded {
					display: none;
				}

				tr {
					background: #FFFFFF;

					&:nth-child(odd) {
						background: #ECF0F1;
					}
				}

				td {
					padding: 4px;
				}

			}

			> .foldButton {
				width: 100%;
				height: 12px;
				line-height: 0;
				font-size: 0;
				text-indent: -9999px;
				border: 1px solid #bdc3c7;
				border-top: 1px solid #ECF0F1;
				background-color: #ffffff;
				background-image: url("../img/arrowup.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 6px;

				&.folded {
					background-image: url("../img/arrowdown.svg");
				}
			}

		}

	}
}
